* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}


body {
  background-color: #0B0B0C;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: inline-flex;
  font-size: 4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}